<div align="center">
  <div class="limiter">
    <div class="container-login100">
      <div class="wrap-login100">
        <form ngNativeValidate [formGroup]="loginForm" class="login100-form validate-form" (ngSubmit)="onSubmit()">
          <div class="wrap-input100 validate-input">
            <input class="input100" type="text" formControlName="username" required pattern="[^\s]*"
                   title="No whitespace allowed">
            <span class="focus-input100" data-placeholder="Username"></span>
          </div>
          <div class="wrap-input100 validate-input">
						<span class="btn-show-pass">
							<i class="zmdi zmdi-eye"></i>
						</span>
            <input class="input100" type="password" formControlName="password" required pattern="[^\s]*"
                   title="No whitespace allowed">
            <span class="focus-input100" data-placeholder="Password"></span>
          </div>
          <div>
            <re-captcha siteKey="YOUR RECAPTCHA PUBLIC KEY HERE"
                        formControlName="recaptcha" required></re-captcha>
          </div>
          <div class="container-login100-form-btn">
            <div class="wrap-login100-form-btn">
              <div class="login100-form-bgbtn"></div>
              <button class="login100-form-btn">
                Login
              </button>
            </div>
          </div>
          <div class="text-center p-t-115">
						<span class="txt1">
							Don't have an account?
						</span>
            <a class="txt2" href="register">
              Register
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
